name: Test the application and deploy to the Minikube QA environment

permissions:
  contents: read

on:
  pull_request: 
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: ./build.sh

      - name: Run tests
        run: ./test.sh

      - name: Setup and start Minikube
        uses: ./.github/actions/minikube-setup

      - name: Build and validate Docker image
        run: |
          eval $(minikube docker-env)
          docker build -t csizmaziakiki/helloapp:latest .
          docker run csizmaziakiki/helloapp:latest /bin/sh -c "ls -al"
      
      - name: Deploy to QA Minikube with Helm
        uses: ./.github/actions/helm-deploy
        with:
          values-file: 'values-qa.yaml'
          namespace: 'qa'
